<h1>File Uploader</h1>

<h2>Upload Files</h2>
<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <h2>Select a file to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p>

<h2>Previously uploaded files</h2>
{{#each this.thumbnails}}
  <div class="row">
    <button id="deletebtn" class="btn btn-danger" data-name="{{name}}">Delete</button>
    <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}" />
  </div>
{{/each}}

<hr>
<p>This app uploads your file to the azure server into the storage account and retrieves it</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select a file to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
  $(document).ready(function () {
    var abc = $('#deletebtn').data('name');

  $('#deletebtn').click(function(){
    
    $.ajax({
          url: '/delete',
          type: 'POST',
          data: abc,
          success: function(result) {
              console.log(result);
              /*
              $('#results,#errors').remove();
              $('#contactWrapper').append('<p id="results">' + result + '</p>');
              $('#loading').fadeOut(500, function() {
                  $(this).remove();

              });
              */

          }
      });
  });
  })
</script>