<h1>File Uploader</h1>

<h2>Upload Files</h2>
<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <h2>Select a file to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p>

<h2>Previously uploaded files</h2>
{{#each this.thumbnails}}
  <div>
    <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/{{name}}" />
    <button id="deletebtn" data-name="{{name}}">Delete</button>
  </div>
{{/each}}

<hr>
<p>This app uploads your file to the azure server into the storage account and retrieves it</p>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select a file to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
$('#deletebtn').click(()=>{
  .ajax({
        url: '/delete',
        type: 'GET',
        data: $('#deletebtn').data('name'),

        success: function(result) {
            console.log(result);
            /*
            $('#results,#errors').remove();
            $('#contactWrapper').append('<p id="results">' + result + '</p>');
            $('#loading').fadeOut(500, function() {
                $(this).remove();

            });
            */

        }
    });
})
  
</script>